body{
  background: linear-gradient(to right, rgb(198, 154, 240), rgb(226, 43, 211))
}
#cal-container {
  margin: 40px auto;
  background-color: rgb(230, 20, 202);
  width: 350px;
  height: auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  border: solid blueviolet 5px;
}

.btn-container {
  padding: 10px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 295px;
}
.operators {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
}

#number,
#operator {
  height: 55px;
  width: 70px;
}
button {
  border-radius: 10px;
  border-color: rgb(116, 6, 70);
}
#operator {
  background-color: rgb(175, 16, 149);
  color: aliceblue;
  font-weight: 900;
}
.btn,
.operators-Btn {
  padding: 15px;
  font-size: 20px;
}
.btn:hover,
.operators-Btn:hover {
  background-color: rgb(214, 34, 133);
  color: aliceblue;
}
#displayContent {
  display: flex;
  justify-content: end;
  gap: 15px;
  background-color: rgb(253, 161, 253);
  width: 330px;
  min-height: 50px;
  padding: 10px;
  text-align: end;
  font-size: 30px;
  word-wrap: break-word;
  word-break: break-all;
}
#equal {
  flex-grow: 1;
  width: 70px;
}
.flex {
  display: flex;
  justify-content: center;
}

#clear,
#backSpace {
  flex-grow: 1;
}
